{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Chalamalla Eshwar</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Chalamalla Eshwar. Currently Pursuing Bachelors in
                    Computer Science Engineering and Technology [Data Science].
                    My Main Focus is on Machine Learning, Deep Learning .</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:chalamallan3@gmail.com'><img
                        src="" height="40" width="40"></a> :
                chalamallan3@gmail.com<br><br>
                <a target="_blank" href=''><img
                        src="" height="44"
                        width="44"></a> :<br><br>
                <a target="_blank" href=''><img
                        src="" height="40" width="40"></a> :
                <br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Sai Bharath Yamsani</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Sai Bharath Yamsani. Currently Pursuing Bachelors in
                    Computer Science Engineering and Technology [Data Science].
                    My Main Focus is on Web Development  
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:saibharathyamsani@gmail.com'><img
                        src="" height="40" width="40"></a> : saibharathyamsani@gmail.com
                <br><br>
                <a target="_blank" href='https://www.linkedin.com/in/sai-bharath-yamsani-50045b219'><img
                        src="" height="44" width="44"></a> : Sai Bharath
                <br><br>
                <a target="_blank" href='https://github.com/bharathyamsani'><img
                       src=""  height="40" width="40"></a> : Sai Bharath
                <br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Rohan Daliyet</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Rohan Daliyet. Currently pursuing Bachelor's in Computer Science, specialising in Data Science. My main interests are Artificial Intelligence and Python Programming 
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:'><img
                        src="" height="40" width="40"></a> : rohandaliyet3@gmail.com
                <br><br>
                <a target="_blank" href='https://www.linkedin.com/in/rohan-daliyet-6b697b1a6'><img
                        src="" height="44" width="44"></a> :Rohan Daliyet
                <br><br>
                <a target="_blank" href=''><img
                        src="" height="40" width="40"></a> :
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}